
*.pyc
/outfit_manager/services/__pycache__
/outfit_manager/routers/__pycache__
/outfit_manager/routers/__pycache__
/outfit_manager/services/__pycache__
/outfit_manager/models/__pycache__
/outfit_manager/routers/__pycache__
/outfit_manager/routers/__pycache__
/outfit_manager/services/__pycache__
